*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 .container-fluid{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.out{
    border:1px solid #E0E0E0;
}

.backPic img{
    height: 450px;
    width: 100%;
    filter: blur(4px);
}

.dropdown-toggle::after{
    display: none !important;
}

ul.dropdown-menu.show{
    text-align: center;
}

.active1::after{
   content: '';
   width:45px;
   height:3px;
   background-color: #F27121;
   display: block;
   margin-top: 5px;
}

.test55{
    height:300px;
}

.contain4{
   display:none;
}

.icon i{
   font-size: 17px;
}

.adjust{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
}

.adjust1{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 20px;
}

.adjust2{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
 }

 .adjust3{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
 }

.post{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
}

.adjust44{
    width:250px;
    height:250px;
    margin-top:-22px;
}

.one .text-muted, .two .text-muted{
         font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         font-size:13px;
}

.container-fluid.text-center.change1{
    background-color: #D3CCE3;
}

.container .select{
    height:300px;
    width:80%;
}

.change2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.change3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.row_width{
    width:80%;
    margin-left:auto !important;
    margin-right: auto !important;
}

.container.un .card1, .container.dos .card2, .container.tres .card3{
  width:100%;
}

.container.tres .card3 img{
     height:300px;
}

.card-body{
    text-align:left;
}

.card1 .change22, .card2 .change22, .card3 .change22{
      font-size: 13px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card1 button, .card2 button, .card3 button{
     padding:3px 15px !important;
     font-size: 15px;
}

.card-img-top{
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.ad1{
    width:100%;
    margin:0px auto !important;
}

.lists{
  text-align:left
}

.lists li{
    list-style-type: none;
}

.check7{
    background: linear-gradient(147deg,#000000,#000000);
}

.check3 div i{
    color: #fff;
}

.change9{
   color: #ccc;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 14px;
}

.lists li i{
    font-size: 10px;
    color: azure;
}

.lists li a{
   text-decoration: none;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 14px;
   color: #ccc;
}

.lists li a:hover{
   color: #f5af19;
}

.change4{
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:12px;
}

.change33{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:12px;
    background:linear-gradient(147deg,#000000,#000000);
    color:#606c88;
    margin-bottom:0px !important;
 }

 .state9{
    margin-top: -18px;
  }

  .test5{
    position:absolute;
    top:160px;
  }

.changeColor1{
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
}

.changeColor{
    background-color: transparent;
}


  /*------------------------scrollbar--------------------------*/

 ::-webkit-scrollbar{
    width: 4px;
  }
  
  ::-webkit-scrollbar-track{
    background: #606c88;
  }
  
  ::-webkit-scrollbar-thumb{
    background:#C4E0E5;
    border-radius:6px;
  }

  
  /*------------------------scrollbar--------------------------*/
 
 @media only screen and (max-width:768px){
      html,body{
        overflow-x: hidden;
    }

    .test6{
        flex-direction:column;
    }

    #contain1{
        width:auto !important;
    }

    .test55{
        height:700px;
    }

    .navbar-toggler{
        margin:0px 16px !important;
   }

.row_width{
    width:80%;
    margin-left:auto !important;
    margin-right: auto !important;
}

.container.un{
    margin-bottom: 30px;
}

    .test{
        margin:20px 0px;
    }

    .adjust3{
         display: inline-flex;
         margin:8px 0px;
         padding-top:3px !important;
         padding-bottom:3px !important;
      }

      .post{
       display: inline-flex;
     }

     .change21{
        text-align:center;
     }

     .change22{
        text-align:center;
    }

.adjust44{
       margin-top:10px;
       margin-bottom: 20px;
   }

.active1::after{
    display: none;
 }

 .active2::after{
    content:"";
    display: none;
    width:5%;
    height:3px;
    background-color: #F27121;
 }

   .change40{
    background-image: linear-gradient( 174.2deg,rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    width:100%;
   }

   .change40 li:hover{
     background-color: #F2F2F2;
   }

   .check22{
      width: 100%;
      margin:0px auto;
   }

   ul.dropdown-menu.show{
    background-image: radial-gradient( circle farthest-corner at 92.3% 71.5%,  rgba(83,138,214,1) 0%, rgba(134,231,214,1) 90% );
    width:100%;
}

ul.dropdown-menu.show li a{
    color: #434343;
}

ul.me-3{
    margin-right: 0rem !important;
}

.ad0{
    display: flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
}

.ad0 .col{
   margin-bottom: 30px;
   margin-left:0px;
}

.card1 .change22, .card2 .change22, .card3 .change22{
   font-size: 14px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 color: #808080;
 text-align: left;
}

.check7{
    flex-direction:column;
   }

   .check3{
    display:flex;
    align-items:center;
    justify-content:center;
   }

   .state{
     margin-bottom: 20px;
   }

.change3{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.check71{
    background: linear-gradient(147deg,#434343,#000000);
}

.adjust{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
}

.change33{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:13px;
    font-weight: 600;
 }

 .changeColor1{
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
  }


 }

 @media only screen and (max-width: 989px) and (min-width: 768px){

 .odd{
   padding-left:40px !important;
}

 }
